<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/console.css">
    <link rel="icon" href="images/wallet.png">
</head>

<body>
    <header>Wallet Console</header>
    <img class="top-left" id="home" src="images/home.png">
    <label class="top-right" id="balance">Balance</label>
    
    <!-- show error or success message at top -->
    <table id="message-table">
        <tr>
            <td class="right"><img id="message-image" src="images/error.png" height="16%"></td>
            <td id="message">Sample</td>
        </tr>
    </table>

    <!-- visual representaion of how much money in each account -->
    <div id="show">
        <table class="full">
            <tr>
                <td>
                    <p>CASH - cash</p>
                    <img class="tiny no-hover" src="images/cash.png">
                    <p><span id="slot0-amount">$ 0.00</span></p>
                </td>
                <td id="slot2">
                    <p id="slot2-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot2-icon" class="tiny" src="images/add.png">
                    <p><span id="slot2-amount">N/A</span></p>
                </td>
                <td id="slot3">
                    <p id="slot3-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot3-icon" class="tiny" src="images/add.png">
                    <p><span id="slot3-amount">N/A</span></p>
                </td>
                <td id="slot4">
                    <p id="slot4-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot4-icon" class="tiny" src="images/add.png">
                    <p><span id="slot4-amount">N/A</span></p>
                </td>
            </tr>
            <tr>
                <td id="slot5">
                    <p id="slot5-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot5-icon" class="tiny" src="images/add.png">
                    <p><span id="slot5-amount">N/A</span></p>
                </td>
                <td id="slot6">
                    <p id="slot6-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot6-icon" class="tiny" src="images/add.png">
                    <p><span id="slot6-amount">N/A</span></p>
                </td>
                <td id="slot7">
                    <p id="slot7-name">CLICK TO ADD ACCOUNT</p>
                    <img id="slot7-icon" class="tiny" src="images/add.png">
                    <p><span id="slot7-amount">N/A</span></p>
                </td>
                <td id="slot1">
                    <p>OTHER - other</p>
                    <img class="tiny no-hover" src="images/other.png">
                    <p id="slot1-amount">$ 0.00</p>
                </td>
            </tr>
        </table>
    </div>

    <!-- secondary table for account editing functionality -->
    <div id="hidden">
        <table class="full">
            <tr>
                <td>
                </td>
                <td id="edit-slot2">
                    <img class="cancel" id="slot2-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot2-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot2-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot2-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot2-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot2-image" type="file" value="change image">
                </td>
                <td id="edit-slot3">
                    <img class="cancel" id="slot3-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot3-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot3-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot3-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot3-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot3-image" type="file" value="change image">
                </td>
                <td id="edit-slot4">
                    <img class="cancel" id="slot4-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot4-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot4-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot4-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot4-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot4-image" type="file" value="change image">
                </td>
            </tr>
            <tr>
                <td id="edit-slot5">
                    <img class="cancel" id="slot5-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot5-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot5-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot5-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot5-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot5-image" type="file" value="change image">
                </td>
                <td id="edit-slot6">
                    <img class="cancel" id="slot6-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot6-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot6-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot6-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot6-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot6-image" type="file" value="change image">
                </td>
                <td id="edit-slot7">
                    <img class="cancel" id="slot7-cancel" src="images/cancel.png" width="7%">
                    <input id="edit-slot7-name" type="text" value="ADD ACCOUNT NAME"></input>
                    <input id="edit-slot7-code" type="text" value="ADD ACCOUNT CODE"></input>
                    <img class="add" id="slot7-add" src="images/addAccount.png" width="7%">
                    <img class="delete" id="slot7-delete" src="images/delete.png" width="7%">
                    <input id="edit-slot7-image" type="file" value="change image">
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- consoles for user to add or transfer money to accounts -->
    <div class="center"><input id="console" type="text"></div>

    <!-- add help functionality with information on how to use page -->
    <div id="all-dropdown">
        <table id="dropdown">
            <tr>
                <td id="help">HELP</td>
            </tr>
        </table>
        <table id="dropdown-content">
            <tr>
                <td class="block">Regular Deposit</td>
                <td class="block">Absolute Deposit</td>
                <td class="block">Add Account</td>
            </tr>
            <tr>
                <td class="block">Withdrawl</td>
                <td class="block">Repeat Previous</td>
                <td class="block">Change Account</td>
            </tr>
            <tr>
                <td class="block">Transfer</td>
                <td class="block">Cancel Previous</td>
                <td class="block">Delete Account</td>
            </tr>
        </table>
    </div>
    
    <!-- show instructions of home page for user when they do not know what to do -->
    <div id="instruction"><img src="images/consoleInstructions.PNG"></div>
    <img id="information" src="images/information.png" width="75px;">
    
    <script type="module" src="js/console.js"></script>
</body>

</html>