<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wallet</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="images/home.png">
</head>

<body>
    <header>My Wallet API</header>
    <div class="dropdown">
        <img id="settings" src="images/settings.png">
        <div class="dropdown-content">
            <div class="block" id="block-0">Please sign in to see details</div>
            <div class="block" id="block-1">----------------------------------</div>
            <div class="block" id="block-2">----------------------------------</div>
            <div class="block" id="block-3">----------------------------------</div>
            <div class="block" id="block-4">----------------------------------</div>
            <div class="block" id="block-5">----------------------------------</div>
            <div class="block" id="block-6">----------------------------------</div>
            <div class="block" id="block-7">----------------------------------</div>
        </div>
    </div>
    <button class="top-right" id="sign">Sign In</button>

    <table id="message-table">
        <tr>
            <td class="right"><img id="message-image" src="images/error.png" height="16%"></td>
            <td id="message">Sample</td>
        </tr>
    </table>
    
        <img id="wallet" src="images/wallet.png">
    <script type="module" src="js/home.js"></script>
</body>

</html>