<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="icon" href="images/wallet.png">
</head>

<body>
    <header>Sign Up Page</header>
    <img class="top-left" id="back" src="images/back.png">

    <table id="message-table">
        <tr>
            <td class="right"><img id="message-image" src="images/error.png" height="16%"></td>
            <td id="message">Sample</td>
        </tr>
    </table>

    <table class="v-margin right">
        <tr>
            <td><label>First Name</label><input id="name" type="text"></input></td>
        </tr>
        <tr>
            <td><label>Email Address</label><input id="email" type="text"></input></td>
        </tr>
        <tr>
            <td><label>Username</label><input id="username" type="text"></input></td>
        </tr>
        <tr>
            <td><label>Password</label><input id="password" type="password"></input></td>
        </tr>
        <tr>
            <td><label>Confirmed Password</label><input id="confirmed" type="password"></input></td>
        </tr>
        <tr>
            <td class="center" id="make-account"><button>Make Account</button></td>
        </tr>
    </table>

    <script type="module" src="js/signup.js"></script>
</body>

</html>